bcrypt==3.1.5
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
google==2.0.1
google-api-core==1.7.0
google-auth==1.6.2
google-cloud==0.34.0
google-cloud-core==0.29.1
google-cloud-storage==1.14.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.6
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
numpy==1.15.4
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
requests==2.21.0
SQLAlchemy==1.2.16
tensorboard
tensorflow
virtualenv==16.2.0
Werkzeug==0.14.1
WTForms==2.2.1
image
matplotlib
